/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
 .bg{
  background-color: rgba(36, 35, 35, 0.877);
}
.form-control{
  border:  5px solid #0dcaf0;;
}
.find-title{
  color: #0dcaf0;
  font-weight: 600;
}
.cart{
  margin:0px 100px 0px 100px;
  
}
.information-result{
  background-color:#0dcaf0;
  margin-left: 350px;
  margin-right: 350px;
  }
