/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
 /* .bg{
  background-color: rgba(36, 35, 35, 0.877);
}
.form-control{
  border:  5px solid #0dcaf0;;
}
.find-title{
  color: #0dcaf0;
  font-weight: 600;
} */
.cart{
  margin:0px 40px 0px 40px;

  
}